<header>
  <nav>
    <ul>
      QUICK BUCKS DEVS
      <li>
        <a href="http://localhost:3000/api/info">Home</a>
      </li>
      <li>
        <a href="http://localhost:3000/api/info/customers">Customers</a>
      </li>
    </ul>
  </nav>
</header>
